body {
    font-family: Serifiqo4FFreeCapitals;
    color: #5B4D69;
    background: url(../img/fonline.svg) repeat-x, url(../img/fon-04.png) repeat-y;
    background-size: auto, contain;
}

#wrap {
    max-width: 960px;
    margin: 50px auto;
}

.h {
    outline: 1px solid black;
}

#font {
    border-radius: 5px;
    background: rgba(198, 222, 242, 0.4);
    padding: 10px;
}

header {
    border-radius: 5px;
    background: rgba(198, 222, 242, 0.7);
    padding-top: 25px;
    display: grid;
    grid-template-rows: 48px 10px 60px 30px 10px;
    grid-template-columns: 55px repeat(7, 1fr) 55px;
    grid-template-areas: ". name name name name number number number ." ". line line line line . . sity ." ". twoname twoname twoname . . . . ." ". . . . . menu menu menu ."
}

#headtwo {
    display: none;
}

p {
    padding: 0;
    margin: 0;
}

#name {
    color: rgba(91, 77, 105, 1);
    grid-area: name;
    font-size: 2.9em;
}

#number {
    color: rgba(91, 77, 105, 1);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-top: 20px;
    grid-area: number;
    font-size: 1.75em;
}

#line {
    grid-area: line;
    width: 100%;
}

#sity {
    color: rgba(91, 77, 105, 1);
    padding-top: 2px;
    text-align: right;
    grid-area: sity;
    font-size: 1.6em;
}

#twoname {
    color: rgba(91, 77, 105, 1);
    grid-area: twoname;
    font-size: 3em;
}

#menu {
    color: rgba(91, 77, 105, 1);
    grid-area: menu;
    font-size: 1.4em;
    font-weight: 700;
    display: flex;
    justify-content: space-between;
}

main {
    display: flex;
    border-radius: 5px;
    margin-top: 35px;
    padding: 28px 20px 30px 20px;
    background-color: white;
}

#num {
    margin: 7px 4px 0 0;
    padding: 0;
}

a {
    color: rgba(91, 77, 105, 1) !important;
    text-decoration: none;
    background-image: linear-gradient(currentColor, currentColor);
    padding-bottom: 1px;
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 1px;
    transition: background-size .3s;
}

#master {
    width: 320px;
    height: 480px;
    margin: 10px;
}

a:hover {
    background-size: 100% 1px;
}

main p {
    padding-left: 2px;
    font-size: 1.14em;
    color: black;
    font-family: 'Times New Roman', Times, serif;
}

.names {
    font-size: 2.5em;
    padding-left: 0;
}

footer {
    margin: 35px 0;
    width: 100%;
    display: flex;
}

#fonttwo {
    float: left;
    height: 200px;
    width: 360px;
    background: rgba(198, 222, 242, 0.4);
    padding: 10px 0;
}

#data {
    margin-bottom: 35px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: rgba(198, 222, 242, 0.7);
    height: 200px;
    width: 360px;
    font-size: 1.1em;
    font-weight: 600;
}

#data p,
#data div {
    margin-left: 50px;
    margin-bottom: 5px;
    padding: 4px 0;
}

#map {
    width: 600px;
    height: 220px;
    float: right;
}

iframe {
    width: 100%;
}

#f2 {
    display: flex;
}

#data #f2 a {
    margin-left: 2px;
}

#priceTitle {
    margin-top: 25px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#priceTitle p {
    font-family: Serifiqo4FFreeCapitals;
    font-weight: 700;
    margin-top: 0;
    width: 34%;
    font-size: 2.5em;
    text-align: center;
}

#priceTitle div {
    position: relative;
    width: 33%;
    display: flex;
    justify-content: flex-end;
    margin: 15px 0 0 0;
}

#search {
    width: 18px;
    height: auto;
    position: absolute;
    left: 50px;
    top: 5px;
}

input {
    width: 227px;
    height: 18px;
    outline: none;
    padding: 0 0 5px 0;
    font-family: Serifiqo4FFreeCapitals;
    font-size: 1.1em;
    font-weight: bold;
    text-align: center;
    border: 2px solid #5B4D69;
    background: url(..img/search.png) no-repeat;
    border-radius: 15px;
}

input:hover,
input:focus {
    transition: 0.3s;
    background: #7F7391;
}

#wraptwo {
    padding: 0 45px 25px 45px;
    position: relative;
}

table {
    font-family: 'Times New Roman', Times, serif;
    border-spacing: 0;
    color: black;
    width: 100%;
    margin: 20px 0;
    -webkit-border-radius: 11px;
    -khtml-border-radius: 11px;
    -o-border-radius: 11px;
    -ms-border-radius: 11px;
    border-radius: 11px;
    border: 3px solid #5B4D69;
}

#select,
#selecttwo {
    position: absolute;
    width: 26px;
    height: 26px;
    left: 23px;
    -webkit-transition-duration: 0.8s;
    -moz-transition-duration: 0.8s;
    -o-transition-duration: 0.8s;
    transition-duration: 0.8s;
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    -o-transition-property: -o-transform;
    transition-property: transform;
    overflow: hidden;
}

td {
    padding: 0 0 0 10px;
    border-top: 2px solid #5B4D69;
    margin: 0;
}

td:nth-child(1) {
    border-right: 2px solid #5B4D69;
}

tr:first-child td {
    border-radius: 6px 6px 0 0;
    border-top: 0 solid #5B4D69;
    border-right: 0 solid #5B4D69;
}

tr:last-child td:first-child {
    border-radius: 0 0 0px 6px;
}

tr:last-child td:last-child {
    border-radius: 0 0 6px 0;
}

td:last-child {
    width: 120px;
}

tr:hover {
    transition: 0.3s;
    background: #7F7391;
}

tr.header {
    cursor: pointer;
}

@media screen and (max-width:1000px) {
    #priceTitle div {
        width: auto;
    }
    #search {
        left: 6px;
    }
    #num {
        margin: 5px 0 0 0;
    }
    #wrap {
        width: 580px;
    }
    header {
        background: rgba(198, 222, 242, 0.7);
        padding-top: 20px;
        grid-template-rows: 44px 10px 60px 30px 10px;
        grid-template-columns: 55px 1fr 55px;
        grid-template-areas: ". name ." ". line ." ". twoname ." ". menu ."
    }
    #name {
        font-size: 2.7em;
        text-align: center;
    }
    #number {
        display: flex;
        grid-area: none;
        position: absolute;
        top: 22px;
        left: 50%;
        width: 250px;
        padding-top: 3px;
        padding-bottom: 8px;
        font-size: 1.65em;
        transform: translate(-50%, -50%);
        align-items: center;
        background: rgba(255, 255, 255, 0.85);
    }
    #sity {
        display: none;
    }
    #twoname {
        text-align: center;
        font-size: 3em;
    }
    main {
        align-items: center;
        flex-direction: column;
    }
    #fonttwo {
        width: 100%;
    }
    #priceTitle {
        flex-direction: column;
        align-items: center
    }
    #priceTitle div {
        justify-content: center;
    }
    #priceTitle p {
        width: auto;
    }
    #data {
        width: 100%;
    }
    #map {
        width: 100%;
        padding: 20px 0;
    }
    footer {
        display: block;
    }
}

@media screen and (max-width:585px) {
    #wrap {
        width: 100%;
    }
    header {
        width: 100%;
        display: flex;
        flex-direction: column;
        padding-top: 0;
    }
    body {
        background: url(../img/linemini.svg) repeat-x, url(../img/fon-04.png) repeat-y;
        background-size: auto, contain;
    }
    #font:first-child {
        border-radius: 5px 5px 0 0;
        padding-bottom: 0;
    }
    #font:last-child {
        padding-bottom: 10px;
        border-radius: 0 0 5px 5px;
    }
    #name {
        grid-area: none;
        font-size: 1.7em;
    }
    #line {
        grid-area: none;
        margin: auto;
        width: 280px;
    }
    #twoname {
        grid-area: none;
        font-size: 1.8em;
        margin-bottom: 15px;
    }
    #menu {
        display: none;
    }
    #menutwo {
        color: rgba(91, 77, 105, 1);
        font-size: 1.4em;
        flex-direction: column;
        font-weight: 700;
        display: flex;
        text-align: center;
    }
    #headtwo {
        display: block;
    }
    #master {
        width: 100%;
        max-width: 320px;
        height: auto;
    }
}

@media screen and (max-width:320px) {
    #line {
        width: 100%;
    }
}

;